.controls {
    grid-area: controls;
    border: 1px solid green;

    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    gap: 10px;

    button {
        font-size: 1.4rem;
    }
}

.hidden{
    display: none;
}

.tasks {
    grid-area: tasks;
    border: 1px solid orange;
    position: relative;
}

#taskDisplay {
    position: absolute;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, 0.226);
    backdrop-filter: blur(1px);

    &.hidden{
        display: none;
    }

    .taskDetails {
        background: white;
        border: 1px solid black;
        width: 94%;
        height: 85%;
    }

    input:read-only {
        border: none;
    }
}

.projects {
    grid-area: projects;
    border: 1px solid blue;
    overflow-y: auto;
}

.main {
    display: grid;
    grid-template:
        "controls tasks" 1fr
        "projects tasks" 1fr / minmax(70px, 300px) minmax(300px, auto);
    height: 100%;
}

html,
body {
    height: 100%;
    margin: 0;
}

#projectModal {
    padding: 0;
    .projectDetails {
        display: flex;
        padding: 20px;
    }
}